@model IEnumerable<ResumeBuilder.Models.Certifications>

@{
    ViewData["Title"] = "Certifications";

}

<style>
    label {
        text-align: left;
    }
</style>
<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Certifications here</span>
    <form method="post" asp-action="SubmitCertifications" id="CertificationForm">

        <div class="row mb-3">
            <div class="col-sm-12">
                <label class="col-sm-12 col-form-label">Name</label>
                <input type="text" class="form-control" name="Name" />

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label class="col-sm-12 col-form-label">Issuer</label>
                <input type="text" class="form-control" name="Issuer" />

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                <button type="button" onclick="clearForm('CertificationForm')" class="btn btn-primary" style="float: right; margin-right: 5px">Clear</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped">
        <tbody>
        <thead>
            <tr>
                <th>Name</th>
                <th>Issuer</th>
                <th>Actions</th>
            </tr>
        </thead>
            @if (Model == null || !Model.Any())
            {
            <tr>
                <td colspan="7" class="text-center">No certification records found.</td>
            </tr>
            }
            else
            {
                @foreach (var certification in Model)
                {
                <tr>
                    <td>@certification.Issuer</td>
                    <td>@certification.Name</td>
                    <td>
                        <a href="@Url.Action("Delete", "Home", new { entityType = "certification", id = certification.CertificationID })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">
    function clearForm(formId) {
        var form = document.getElementById(formId);
        if (form) {
            form.reset(); 
        }
    }
</script>
