
@model ResumeBuilder.Models.Education

@{
    ViewData["Title"] = "Education";
}

<style>
    label {
        text-align: left;
    }
</style>

<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Educational Details here</span>
    <form method="post" asp-action="SubmitEducation">
        <div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Name of Institution</label>
                    <input id="txtinstitutename" type="text" class="form-control" name="InstituteName" />
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Degree</label>
                    <input id="txtdegree" type="text" class="form-control" name="Degree" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">Starting Year</label>
                    <input id="txtstartingdate" type="number" class="form-control" name="StartingYear" />
                </div>
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">Graduation Year</label>
                    <input id="txtendingdate" type="number" class="form-control" name="EndingYear" />
                </div>
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">GPA</label>
                    <input id="txtgpa" class="form-control" name="GPA" />
                </div>
                 
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                    <button type="submit" class="btn btn-primary" asp-action="ClearForm" style="float: right; margin-right: 5px">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>


