@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Dashboard</h2>

    <!-- Display the QR Code -->
    <div>
        <h3>QR Code of Resume</h3>
        <img src="/Home/GenerateQRCode" alt="QR Code for View Resume" />
    </div>
    <div>
        <form asp-controller="Home" asp-action="ResumeView" method="get">
            <input type="hidden" name="email" value="@TempData["Email"]" />
            <button type="submit" class="btn btn-primary">View Resume</button>
        </form>
    </div>
</div>
