@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Dashboard</h2>

    <!-- Display the QR Code -->
    <div>
        <h3>QR Code of Resume</h3>
        <img src="/Home/GenerateQRCode" alt="QR Code for View Resume" />
    </div>
    <div>
        <form asp-controller="Home" asp-action="ResumeView" method="get">
            <input type="hidden" name="email" value="@TempData["Email"]" />
            <a href="@Url.Action("ResumeView", "Home", new { userId = ViewBag.UserId })" class="btn btn-primary">
                View Resume
            </a>
        </form>
    </div>
</div>
