@model ResumeBuilder.Models.Skills


@{
    ViewData["Title"] = "Skills";

}
<style>
    label {
        text-align: left;
    }
</style>
<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Skills here</span>

    <form method="post" asp-action="SubmitSkills">
        <div class="row mb-3">
        <div class="col-sm-12">
            <label class="col-sm-12 col-form-label">Skill Name</label>
            <input id="txtdomain" type="text" class="form-control" name="Name" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" id="btnSUbmit" Style="float: right"> Submit</button>
            <button type="submit" class="btn btn-primary" id="btnclear" Style="float: right; margin-right: 5px">Clear</button>
        </div>
    </div>

    </form>
</div>
