@model IEnumerable<ResumeBuilder.Models.Skills>



@{
    ViewData["Title"] = "Skills";

}
<style>
    label {
        text-align: left;
    }
</style>
<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Skills here</span>

    <form method="post" asp-action="SubmitSkills" id="SkillsForm">
        <div class="row mb-3">
            <div class="col-sm-12">
                <label class="col-sm-12 col-form-label">Skill Name</label>
                <input id="txtdomain" type="text" class="form-control" name="Name" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" id="btnSUbmit" Style="float: right"> Submit</button>
                <button type="button" onclick="clearForm('SkillsForm')" class="btn btn-primary" style="float: right; margin-right: 5px">Clear</button>
            </div>
        </div>

    </form>
    <table class="table table-bordered table-striped">
        <tbody>
        <thead>
            <tr>
                <th>Skill Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                @if (Model == null || !Model.Any())
                {
                <tr>
                    <td colspan="7" class="text-center">No Skills records found.</td>
                </tr>
                }
                else
                {
                    @foreach (var skills in Model)
                    {
                    <tr>
                        <td>@skills.Name</td>
                        <td>
                            <a href="@Url.Action("Edit", "Users", new { id = skills.SkillID })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", "Users", new { id = skills.SkillID})" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    function clearForm(formId) {
        var form = document.getElementById(formId);
        if (form) {
            form.reset();
        }
    }
</script>
