@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Testimonials";

}
<style>
    label {
        text-align: left;
    }
</style>
<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Testimonials</span>
    <div class="row mb-3">
        <div class="col-sm-4">
            <label class="col-sm-12 col-form-label">Name</label>
            <input id="txtname" type="text" class="form-control" />
        </div>
        <div class="col-sm-4">
            <label class="col-sm-12 col-form-label">Designation</label>
            <input id="txtdesignation" type="text" class="form-control" />
        </div>
        <div class="col-sm-4">
            <label class="col-sm-12 col-form-label">Rating</label>
            <select id="ddlrating" class="form-control">
                <option value="">Select an option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <label class="col-sm-12 col-form-label">Description</label>
            <textarea id="txtdesc" type="text" class="form-control" rows="5" placeholder="Enter your description here"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" id="btnSUbmit" Style="float: right"> Submit</button>
            <button type="submit" class="btn btn-primary" id="btnclear" Style="float: right; margin-right: 5px">Clear</button>
        </div>
    </div>
</div>

